body {
    font-family: Gill Sans, sans-serif;
    background-color: lavender;
    text-align: center;
}
    
a {
    text-decoration: none;
    color: lavender;
    background-color: darkorchid;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.link {
    margin: 20px;
}